Student {
    display: block;
    border-bottom: 1px solid black;
}

name {
    display: block;
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 10px;
}

id {
    font-size: 20px;
    display: block;
}

id:before {
    content: "ID: ";
}

grade:after {
    content: "%";
}